.home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*BoardCreator------------------ */
.BoardCreator{
    width: 30%;
    background-color: #9fe7a4;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    color: #fff;
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
    box-shadow: 3px 3px 10px 2px grey;
    transition: transform .1s linear;
}
.BoardCreator:hover{
    transform: scale(1.1);
}
.header{
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 20px;
}

.body{
    width: 100%;
    padding: 20px 40px;
}
.subtitle{
    font-size: 14px;
}
.body input{
    width: 100%;
    margin: 20px 0;
}
.body div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body div *{
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
}
.body div button{
    padding: 10px 20px;
}

.body div span{
    transition: color .1s linear;
}
.body div span:hover{
    color: #000;
}
/* board------------ */
.board{
    width: 30%;
    height: auto;
    margin-right: 40px;
    margin-bottom: 40px;
}
.board:last-child{
    margin-right: 0px;
}

.boardBody{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-top: 15px;
    transition: transform .1s linear;
    box-shadow: 3px 3px 10px 2px grey;
    height: 125px;
}
.boardBody:hover{
    transform: scale(1.1);
}
.board:first-child .boardBody{
    background-color: #9fe7a4;
    color: #fff;
}
.boardBody div{
    width: 100%;
    padding: 35px 20px 50px;
    display: flex;
    justify-content: center;
}
.board:first-child .boardBody div h3 {
    text-shadow: 2px 2px 3px grey;
  }

  /* media----------------------------------------------------------*/
  @media(max-width: 899px){
    .board{
        margin-right: 20px;
    }
    .BoardCreator{
        margin-right: 20px;
    }
    .header{
        padding: 10px;
    }
    .header h3{
        font-size: 16px;
    }
    .body{
        padding: 20px;
    }
    .body div button{
        padding: 5px 10px;
        font-size: 14px;
    }
    .body div span{
        font-size: 14px;
    }

}
  @media(max-width: 599px){
    .board{
        width: 40%;
    }
    .board h3{
        font-size: 16px;
    }
    .home{
        justify-content: center;
    }
    .boardBody{
        height: 100px;
    }
    .BoardCreator{
        width: 40%;
    }
    .subtitle{
        font-size: 12px;
    }
    .body div button{
        padding: 5px 5px;
        font-size: 12px;
    }
    .body div span{
        font-size: 12px;
    }
}
  @media(max-width: 399px){
    .board{
        width: 70%;
        margin: 0;
        margin-bottom: 20px;
    }
    .boardBody{
        height: 80px;
    }
    .board h3{
        font-size: 15px;
    }
    .BoardCreator{
        width: 70%;
        margin: 0;
        margin-bottom: 20px;
        padding: 10px;
    }
    .body{
        padding: 10px;
    }
}