.closeX{
    border: 2px solid #9fe7a4;
    background-color: #fff;
    color: #9fe7a4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 5px 0;
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    transition: transform .1s linear;
}
.closeX:hover{
    transform: scale(1.2);
}
