body {
  background-color: #ddd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
}
input{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 3px 10px 0px grey;
}
@media(max-width: 599px){
  input{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 3px 10px 0px grey;
  }
}